<h1>Update</h1>
<form action="/update" method="POST"> 
    Id: <input type="text" name="id" value="<%= vanchuyens.id%>"><br>
    Content: <input type="text" name="Contet"value="<%= vanchuyens.Content%>"><br>
    Picture: <input type="text" name="Picture"value="<%= vanchuyens.Picture%>"><br>
    Point: <input type="number" name="Point"value="<%= vanchuyens.Point%>"><br>
    <button type="submit">Update Transport</button> 
</form>
