<h1> Add Transport</h1>
<form action="/add" method="POST">
    Content: <input type="text" name="Content"><br>
    Picture: <input type="text" name="Picture"><br>
    Point: <input type="number" name="Point"><br>
    <button type="submit">Add Transport</button> 
</form>